.home{
    background-image: url('https://lambent-axolotl-8a21ee.netlify.app/static/media/hero-image.5a0252fc6763e08aa161.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
}



.home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

 .subtext{
    font-size: 2rem !important;
    font-family: 'Roboto', sans-serif;
 }