
.about{
    background-image: url('https://lambent-axolotl-8a21ee.netlify.app/static/media/hero-image.5a0252fc6763e08aa161.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
}

.text{
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: "Roboto",sans-serif;
}